<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260710204972-op1vkmvurkn0iqmcijpr2np3qomkm5ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260710204972-op1vkmvurkn0iqmcijpr2np3qomkm5ab</string>
	<key>API_KEY</key>
	<string>AIzaSyAx2oISo05TlP4k0d1cvmKcg-U6AmwLXWE</string>
	<key>GCM_SENDER_ID</key>
	<string>260710204972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keigo.finalflutteriosbuild</string>
	<key>PROJECT_ID</key>
	<string>mindful-span-305604</string>
	<key>STORAGE_BUCKET</key>
	<string>mindful-span-305604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260710204972:ios:aa409540be51ea7a88b389</string>
</dict>
</plist>